<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MC Creates</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>

<h2>MC Creates</h2>
<p th:if="${message}">[[${message}]]</p>

<p>Welcome to MC Creates. Your source for top talent for your editorial projects, web development and design. Click here to view the <a th:href="@{/listDepartment}">our team</a>.
<br>

<div th:replace="base ::footerfg"></div>
</body>
</html>