<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <div th:replace="base :: headerfg"></div>
</head>
<style>
    .main {
        padding: 20px;
    }
</style>
<body>
<div th:replace="base :: navlinksfg"></div>
<div class = "main">
<h4>Please sign in</h4>

<div th:if="${param.error}">
    Invalid username or password
</div>
<div th:if="${param.logout}">
    You have been successfully logged out.
</div>

<form th:action="@{/login}" method="post">
    <div><label>Username: <input type = "text" name="username"/></label></div>
    <div><label>Password: <input type="password" name="password"/></label></div>
    <div><input type="submit" value-="Sign in"/></div>
</form>

<div th:replace="base ::footerfg"></div>
</div>
</body>
</html>